@import "bourbon";

body {
  background: #e2e2e2;
  font-family: georgia, serif;
  text-align: center;
}

.card1 {
  position: relative;
  margin: 0 auto;
  width: 310px;
  height: 510px;
  background: #444 url("https://images.unsplash.com/photo-1596915324759-8605add1f668?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") no-repeat center;
  background-size: cover;
  border-radius: 5px;
}
.card2 {
    position: relative;
    margin: 0 auto;
    width: 310px;
    height: 510px;
    background: #444 url("https://images.unsplash.com/photo-1513862153653-f8b7324e1779?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=322&q=80") no-repeat center;
    background-size: cover;
    border-radius: 5px;
  }
  .card3 {
    position: relative;
    margin: 0 auto;
    width: 310px;
    height: 510px;
    background: #444 url("https://i.pinimg.com/originals/7b/09/92/7b0992e25d1e242bf483ae0d29527053.jpg") no-repeat center;
    background-size: cover;
    border-radius: 5px;
  }

.card-info {
  position: relative;
  opacity: 0;
  border-radius: 5px;
  @mixin  linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%);
  width: 310px;
  height: 100%;
  
  h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    @mixin transition($args:0.5s) {     -webkit-transition: $args;     -moz-transition: $args;     -o-transition: $args;     -ms-transition: $args;     transition: $args; }
    
  }
  &:hover {
    h3 {
      top: 50%;
    }
  }
  .links {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    a {
      margin: 0 8px;
      font-size: 13px;
      color: #aaa;
      text-decoration: none;
      @include transition(color, 0.3s, ease-in-out);
      
      &:hover {
        color: white;
      }
    }
  }
  
  @mixin  transition(opacity, 0.3s, ease-in-out);
  
  &:hover {
    opacity: 1;
  }
}